body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7C0F0F !important;
    color: white;
    width: 1728px;
    height: 10693px;
    overflow-x: hidden;
}

header {
    background-color: #7C0F0F;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Inknut Antiqua', serif;
    font-size: 32px;
}

.Main {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(to bottom, #7C0F0F, #7C0F0F);
}

.Main h1 {
    width: 550px;
    height: 84px;
    flex-shrink: 0;
    color: #E42D2D;
    text-align: center;
    font-family: "Mountains of Christmas";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Main h2, .Main .concept-art-book, .Main .date {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 75px;
    color: white;
}

.Main img {
    width: 100%;
    height: auto;
}

.Main .arrow-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.video-section {
    text-align: center;
    padding: 50px 0;
    background-color: #3a3a3a;
}

.video-section video {
    width: 80%;
    max-width: 800px;
    height: auto;
}

.gallery {
    text-align: center;
    padding: 50px 0;
    background-color: #3a3a3a;
}

.gallery-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.gallery-item {
    flex: none;
    scroll-snap-align: start;
    width: 300px;
    margin: 0 10px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.additional-info {
    text-align: center;
    padding: 50px 0;
    background-color: #4a4a4a;
}

.additional-info h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.additional-info h2 a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.pilot-project-team {
    text-align: left;
    padding: 50px;
    background-color: #4a4a4a;
}

.pilot-project-team h1 {
    font-family: 'Orelega One', serif;
    font-size: 318px;
    color: #ff6f61;
    line-height: 1.1;
    margin: 0;
}

.team-info {
    display: flex;
    justify-content: space-between;
}

.team-info h2 {
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 48px;
    color: white;
}

.team-info p {
    font-family: 'Inknut Antiqua', serif;
    font-size: 
